$light-gray: #bec3cb;
$light-gray-2: #afabab;
$mint: #31d49f;
$white-1: #ffffff;

* {
  &.light-gray,
  &[light-gray] {
    color: $light-gray;
  }

  &.mint,
  &[mint] {
    color: $mint;
  }

  &.white-1,
  &[white-1] {
    color: $white-1;
  }

  &.light-gray-2,
  &[light-gray-2] {
    color: $light-gray-2;
  }
}
